.dom-info-dialog-box {
  height: fit-content;
  width: fit-content;
  z-index: 99999;
  background-color: $MainDialogColor;
  color: #455a64;
  position: absolute;
  border-radius: 8px;
  top: 0px;
  right: 0px;
  text-align: left;
  padding: $MainDialogPadding;
  font-family: Roboto Mono;
  font-size: 10px;
  
  transition: top .2s;
  animation: animShow .5s forwards;

  &:active:hover, &:hover:active {
    cursor: grab;
  }

  .close-btn-style {
    position: absolute;
    top: -10px;
    right: -15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #546E7A;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    cursor: pointer;
    transition: all .2s;

    &:hover {
      transform: scale(1.2);
    }
    &:focus {
      transform: scale(1);
    }
  }

  .dom-header {
    font-size: $Domheaderfontsize;
  }
  .dom-header-tag {
    font-size: $Domheaderfontsize;
    color: #e91e63;
    width: fit-content;
    display: inline-block !important;
  }
  .dom-header-details {
    color: #546E7A;
    display: inline-block !important;
    font-size: $Domheaderfontsize;
    width: fit-content;
  }
  .dom-details-tag {
    font-size: 12px;
    color: #e91e63;
    float: left;
    width: fit-content;
    cursor: pointer;
  }

  .dom-styles {
    font-size: 10px;
    color: #78909c;
    padding: 0px 0px 0px 0px;
  }
  .dom-styles-details {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #455a64;
    padding: 10px 10px 0px 0px;
  }
  .dom-dialog {
    font-size: 10px;
    color: #78909c;
    padding: $DialogDetailPadding;
  }
  .dom-dialog-parent-details {
    font-size: 12px;
    color: #546e7a;
    align: left;
    padding: 0px 0px 15px 0px;
    cursor: pointer;
  }
  .dom-dialog-child-details {
    font-size: 12px;
    color: #546e7a;
    align: left;
    word-wrap: break-word;
    padding: 10px 0px 0px 0px;
  }
  .see-more {
    cursor: pointer;
    font-size: 10px;
    color: #78909c;
  }

  .extended-dialog-box {  
    max-width: 400px;
    z-index: 99999;
    color: #455a64;
    border-radius: 8px;
    top: 0px;
    right: 0px;
    text-align: left;
    font-family: Roboto Mono;
    font-size: 10px;
  }
}

