
.focused-dom {
  position: relative !important;
  // display: inline-block !important; //needed this in elements that are inline. Note: has bugs when overriding some div displays
  // border: 0 !important; //1px solid rgba(0, 0, 0, 0.3) !important;
  // background: rgba(0, 0, 0, 0.2) !important;
  background: rgba(103, 58, 183, 0.2) !important;
  overflow: initial !important;

  &::before {
  }
}

.focused-targeted-element {
  z-index: 9999 !important;  
  box-shadow: 999vmax 999vmax  999vmax 9999vmax rgba(0, 0, 0, 0.95);
  border-radius: 8px;
  opacity: 0;
  transition: all .3s;
  position: absolute;
}

.attributecontainer {
  display: flex;
  justify-content: space-between;

  .attributeitems {  
    padding: 0px 10px 0px 0px;
  }  
}