// @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;1,500&display=swap');

/* latin */
// @font-face {
//   font-family: 'Roboto Mono';
//   font-style: normal;
//   font-weight: 500;
//   font-display: swap;
//   src: url(./fonts/roboto-mono-regular-500.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }

$MainDialogColor: #ede7f6;
$MainDialogPadding: 19px 17px 21px 17px;

$Domheaderfontsize: 14px;

$DialogDetailPadding: 10px 0px 0px 0px;

.highlight-div {
  background-color: #F6ECAA;
  color: #000;
}

.flex-row {
  display: flex;     
}

.flex-column {
  display: flex;
  flex-direction: column;
}

@keyframes animShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#dimmer {
  background: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -9999;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all .3s;
}

.dimmer-show {
  opacity: 0.9 !important;
  z-index: 9999 !important;
}


.focused-targeted-element {
  z-index: 9999 !important;  
  box-shadow: 999vmax 999vmax  999vmax 9999vmax rgba(0, 0, 0, 0.95);
  border-radius: 8px;
  opacity: 0;
  transition: all .3s;
  position: absolute;
}

.attributecontainer {
  display: flex;
  justify-content: space-between;

  .attributeitems {  
    padding: 0px 10px 0px 0px;
  }  
}


.widgets {
  flex-direction: column;
}

.display-dot {
  margin-right: 5px;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px;
}

.dom-switch {
  height: auto;
  width: auto;
  background-color: #ede7f6;
  color: #455a64;
  border: 3px ;
  position: fixed;
  border-radius: 8px;
  top: 0px;
  right: 0px;
  cursor: pointer;
  padding: 15px 15px 15px 15px;
  font-family: Roboto monospace;
  font: 10px;
  z-index: 99999;
}

.dom-info-details-lean {
  position: absolute;
  display: block !important;
  height: 20px;
  z-index: 9999 !important;
  top: -30px;
  background: #673ab7 !important;
  right: 20px;
  border-radius: 5px 5px 0 0;
  padding: 5px 15px;
  color: #fff;
  box-sizing: unset !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  font-family: "Roboto Mono", monospace !important;
}

.dom-info-lean {
  &--domtype {
    color: #f48fb1 !important;
  }
  &--dom-id {
    color: #ec407a !important;
  }
}

.focused-dom {
  position: relative !important;
  // display: inline-block !important; //needed this in elements that are inline. Note: has bugs when overriding some div displays
  // border: 0 !important; //1px solid rgba(0, 0, 0, 0.3) !important;
  // background: rgba(0, 0, 0, 0.2) !important;
  background: rgba(103, 58, 183, 0.2) !important;
  overflow: initial !important;

  &::before {
  }
  &::after {
    // content: "";
    // height: 100%;
    // width: 100%;
    // border: 3px solid #000;
    // position: absolute;
    // // background: rgba(0, 0, 0, 0.3);
    // background: transparent !important;
    // z-index: -10;
    // top: 0;
    // left: 0;
  }
}
