$primary-font: 'Roboto Mono', sans-serif !important;
$secondary-font: 'Roboto Medium', sans-serif !important;
$tertiary-font: 'Roboto', sans-serif !important; 

$standard-radius: 0.5rem;
$dialog-padding: 19px 17px 21px 17px;
$panel-padding: 20px;

$white-text-color: #FFF !important;
$light-text-color: #CCC !important;

$black-text-color: #000 !important;
$dark-text-color: #1f1f1f !important;

$primary-color: #ede7f6 !important;
$secondary-color: #673ab7 !important; 
$tertiary-color:  #546E7A !important;

$primary-text-color: #546E7A !important;
$secondary-text-color: #455A64 !important;
$tertiary-text-color: #E91E63 !important;
$placeholder-color: #b0bec5 !important;
