// @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;1,500&display=swap');

/* latin */
// @font-face {
//   font-family: 'Roboto Mono';
//   font-style: normal;
//   font-weight: 500;
//   font-display: swap;
//   src: url(./fonts/roboto-mono-regular-500.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }

$MainDialogColor: #ede7f6;
$MainDialogPadding: 19px 17px 21px 17px;

$Domheaderfontsize: 14px;

$DialogDetailPadding: 10px 0px 0px 0px;


.flex-row {
  display: flex;   
}

.flex-column {
  display: flex;
  flex-direction: column;
}

@keyframes animShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.attributecontainer {
  display:flex;
  justify-content: space-between;

  .attributeitems{  
  padding: 0px 10px 0px 0px;
  }  
}

.dom-info-dialog-box {
  height: fit-content;
  width: fit-content;
  z-index: 99999;
  background-color: $MainDialogColor;
  color: #455a64;
  // border: 3px solid;
  position: absolute;
  border-radius: 8px;
  top: 0px;
  right: 0px;
  text-align: left;
  padding: $MainDialogPadding;
  font-family: Roboto Mono;
  font-size: 10px;
  
  transition: top .3s;
  animation: animShow .5s forwards;

  .close-btn-style {
    position: absolute;
    top: -10px;
    right: -15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #546E7A;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      transform: scale(1.2);
    }
    &:focus {
      transform: scale(1);
    }
  }

  .dom-header {
    font-size: $Domheaderfontsize;
    // padding: $DialogDetailPadding;
  }
  .dom-header-tag {
    font-size: $Domheaderfontsize;
    color: #e91e63;
    width: fit-content;
    display: inline-block !important;
  }
  .dom-header-details {
    color: #546E7A;
    display: inline-block !important;
    font-size: $Domheaderfontsize;
    width: fit-content;
  }
  .dom-details-tag {
    font-size: 12px;
    color: #e91e63;
    float: left;
    width: fit-content;
    // padding: 0px 5px 0px 0px;
  }

  .dom-styles {
    font-size: 10px;
    color: #78909c;
    padding: 0px 0px 0px 0px;
  }
  .dom-styles-details {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #455a64;
    padding: 10px 10px 0px 0px;
  }
  .dom-dialog {
    font-size: 10px;
    color: #78909c;
    padding: $DialogDetailPadding;
  }
  .dom-dialog-parent-details {
    font-size: 12px;
    color: #546e7a;
    align: left;
    padding: 0px 0px 15px 0px;
  }
  .dom-dialog-child-details {
    font-size: 12px;
    color: #546e7a;
    align: left;
    padding: 10px 0px 0px 0px;
  }
  .see-more {
    cursor: pointer;
    font-size: 10px;
    color: #78909c;
  }
}

.display-dot {
  margin-right: 5px;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px;
}

.dom-switch {
  height: auto;
  width: auto;
  background-color: #ede7f6;
  color: #455a64;
  border: 3px ;
  position: fixed;
  border-radius: 8px;
  top: 0px;
  right: 0px;
  cursor: pointer;
  padding: 15px 15px 15px 15px;
  font-family: Roboto monospace;
  font: 10px;
  z-index: 99999;
}

.dom-info-details-lean {
  position: absolute;
  // width: 250px;
  display: block !important;
  height: 20px;
  z-index: 9999 !important;
  top: -30px;
  background: #673ab7 !important;
  right: 20px;
  border-radius: 5px 5px 0 0;
  padding: 5px 15px;
  color: #fff;
  box-sizing: unset !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  font-family: "Roboto Mono", monospace !important;
}

.dom-info-lean {
  &--domtype {
    color: #f48fb1 !important;
  }
  &--dom-id {
    color: #ec407a !important;
  }
}

.focused-dom {
  position: relative !important;
  // display: inline-block !important; //needed this in elements that are inline. Note: has bugs when overriding some div displays
  // border: 0 !important; //1px solid rgba(0, 0, 0, 0.3) !important;
  // background: rgba(0, 0, 0, 0.2) !important;
  background: rgba(103, 58, 183, 0.2) !important;
  overflow: initial !important;

  &::before {
  }
  &::after {
    // content: "";
    // height: 100%;
    // width: 100%;
    // border: 3px solid #000;
    // position: absolute;
    // // background: rgba(0, 0, 0, 0.3);
    // background: transparent !important;
    // z-index: -10;
    // top: 0;
    // left: 0;
  }
}
